@charset "utf-8";
/* CSS Document */

#container {
	width:auto;
	height:auto	
}

#topCont {
	width:inherit;
	height: 30%;	
}
#midCont {
	width:inherit;
	height: 40%;	
}

#bottomCont {
	width:inherit;
	height:30%;
}

#name {
	color: lightblue;
    font-family: 'axelregular';
    font-size:100px;
    letter-spacing: 0.625em;
    text-align: center;	
}
#line {
	width:inherit;
	height:5px;
	background-color:#000000;
}
.box
{
  margin:3%;
  background-color:#fffff7;
  float: left;
}

.box {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	display:inline-block;
	text-align:center;
	padding:2% 10%;
	background-color:#2BD3EF;
}