@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(../images/backgrounImage.jpg);	
}
#container 
{
	width:auto;
	height:auto	
}

#topCont 
{
	width:inherit;
	
}

#midCont 
{
	width:inherit;	
}

#bottomCont 
{
	width:inherit;
}

#name 
{
	color: lightblue;
    font-family: 'axelregular';
    font-size:100px;
    letter-spacing: 0.625em;
    text-align: center;	
}

#line 
{
	width:inherit;
	height:5px;
	background-color:#000000;
}

button
{
	width:33.13%;
	height: 75px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	border-radius: 5px;
	background-color:#38E6F5;
	font-size:medium;
	border:#65A3F5, thick;
}

.clear
{
clear:both;
}

footer 
{
	width:100%;
	height:80px;
	position:absolute;
	text-align:center;	
	bottom:0;
	left:0;
}